@import 'nav_app';

.setting{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    margin: 20px;
}

table{
    margin: 20px auto;

    thead{
        background-color: $red;
        text-align: center;

            th{
                padding: 5px;
            }

    }

    tbody{
        text-align: center;
        color: $white;

        a{
            text-decoration: none;
            color: $white;
            transition: color 0.2s;

            &:hover{
                color: $red;
            }
        }
    }
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        color: $white;
        text-decoration: none;
        background-color: $greyplus;
        padding: 5px;
        border-radius: 2.5px;
        margin: 2.5px;
    }

    .active{
        background-color: $red;
    }
}
@media screen and (max-width: 850px){

    .nav_app{
        
        ul{
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .nav_left{
                // transform: translateX(-20px);
                margin: 0 !important;
            }

            .nav_mid{
                li{
                    margin: 5px !important;
                }
            }

            .nav_right{
                margin: 0 !important;
            }
        }
    }
}