@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
$red : #F24646;
$redless : #f2464688;
$redplus : #AF1717;
$green: #009B4A;
$white : #ffffff;
$grey : #898989;
$greyplus : #272727;
$black : #121212; //121212
/*Enlever style input number*/
/* Firefox */
input[type=number] {-moz-appearance: textfield;}
/* Chrome */
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button { -webkit-appearance: none;margin:0;}
/* Opéra*/
input::-o-inner-spin-button,input::-o-outer-spin-button { -o-appearance: none;margin:0}


body {
    background-color: $black;
    // color: $black; // Juste dans le
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif !important;
}

.red{
    color: $red;
}

.grey{
    color: $grey;
}

.white{
    color: $white;
}

.active_link{
    color: $red !important;
    opacity: 70%;
    transition: 0.25s;

    &:hover {
        opacity: 100%;
    }
}

.no_active{
    color: $grey !important;
    transition: 0.25s;

    &:hover {
        color: $red !important;
        opacity: 70%;
    }
}
