@import 'general';


.nav_index {

    ul{
        display: flex;   
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 10px 0 0 0;

        div{
            display: flex;
            justify-content: center;
            align-items: center;

                a {
                    text-decoration: none;
                    color: $white;
            }
        }

        .nav_left {
            margin-left:5% ;

            a{
                font-size: 20px;
                font-weight: 600;
                transition: 0.25s;

                &:hover{
                    opacity: 70%;
                }
            }



            .img_logo{
                height: 40px;
                width: 40px;
                margin-right:10px ;
            }
        }
   
        .nav_right {
            position: absolute;
            right: 5%;

            a{
                margin: 0 5px 0 5px;
            }

            .link_signup{
                color: $grey;
                transition: 0.25s;

                &:hover {
                    color: $red;
                    opacity: 70%;
                }
            }

            .link_signin{
                background-color: $red;
                padding: 6px 12px;
                border-radius: 20px;
                transition: 0.25s;

                &:hover {
                    background-color: $redplus;
                }
            }
        }   
    }
}

.slogan_index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white;
    height: 70vh;

    h3, p{
        margin: 0;
    }

    h3{
        font-size: 30px;
        max-width: 500px;
        text-align: center;
    }

    p{
        max-width: 300px;
        text-align: center;
    }
}

.presentation {
    margin: auto;
    color: $white;

    h4{
        text-align: center;
        font-size: 1.4em;
        padding: 10px;
    }
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;

        p{
            max-width: 350px;
        }
    }

    .seance_jour{
        flex-direction: row-reverse;

        p{
            margin: 20px;
        }
    }

    .seance_jour_x{
        flex-direction: column;
    }
}

@media screen and (max-width: 580px){
    .entrer_exercice{
        flex-direction: column;
    }

    .seance_jour{
        flex-direction: column !important;
    }

    .seance_jour_x{
        div{
            display: flex;
            flex-direction: column;
        }
    }
}


@media screen and (max-width: 450px){

    .nav_index {

        ul{

            justify-content: space-around;
    
            div{
                display: flex;
                justify-content: center;
                align-items: center;
    
                    a {
                        text-decoration: none;
                        color: $white;
                        font-size: 14px;
                }
            }

            .nav_left{
                a{
                    font-size: 16px;
                    font-weight: 600;
                    transition: 0.25s;
    
                    &:hover{
                        opacity: 70%;
                    }
                }
            }
       
            .nav_right {
                position: static;
                display: flex;

    
                a{
                    margin: 5px 0px;
                }
    
                li{
                    margin: 0 10px;
                }

                .link_signin{
                    background-color: $red;
                    padding: 3px 6px;
                    border-radius: 20px;
                    transition: 0.25s;
                    
    
                    &:hover {
                        background-color: $redplus;
                    }
                }
            }   
        }
    }

}
