@charset "UTF-8";
/*Enlever style input number*/
/* Firefox */
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Opéra*/
input::-o-inner-spin-button, input::-o-outer-spin-button {
  -o-appearance: none;
  margin: 0;
}

body {
  background-color: #121212;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
}

.red {
  color: #F24646;
}

.grey {
  color: #898989;
}

.white {
  color: #ffffff;
}

.nav_index ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
}
.nav_index ul div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_index ul div a {
  text-decoration: none;
  color: #ffffff;
}
.nav_index ul .nav_left {
  margin-left: 5%;
}
.nav_index ul .nav_left a {
  font-size: 20px;
  font-weight: 600;
  transition: 0.25s;
}
.nav_index ul .nav_left a:hover {
  opacity: 70%;
}
.nav_index ul .nav_left .img_logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.nav_index ul .nav_right {
  position: absolute;
  right: 5%;
}
.nav_index ul .nav_right a {
  margin: 0 5px 0 5px;
}
.nav_index ul .nav_right .link_signup {
  color: #898989;
  transition: 0.25s;
}
.nav_index ul .nav_right .link_signup:hover {
  color: #F24646;
  opacity: 70%;
}
.nav_index ul .nav_right .link_signin {
  background-color: #F24646;
  padding: 6px 12px;
  border-radius: 20px;
  transition: 0.25s;
}
.nav_index ul .nav_right .link_signin:hover {
  background-color: #AF1717;
}

.slogan_index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  height: 70%;
}
.slogan_index h3, .slogan_index p {
  margin: 0;
}
.slogan_index h3 {
  font-size: 30px;
  max-width: 500px;
  text-align: center;
}
.slogan_index p {
  max-width: 300px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .nav_index ul {
    justify-content: space-around;
  }
  .nav_index ul div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_index ul div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
  }
  .nav_index ul .nav_left a {
    font-size: 16px;
    font-weight: 600;
    transition: 0.25s;
  }
  .nav_index ul .nav_left a:hover {
    opacity: 70%;
  }
  .nav_index ul .nav_right {
    position: static;
    display: flex;
  }
  .nav_index ul .nav_right a {
    margin: 5px 0px;
  }
  .nav_index ul .nav_right li {
    margin: 0 10px;
  }
  .nav_index ul .nav_right .link_signin {
    background-color: #F24646;
    padding: 3px 6px;
    border-radius: 20px;
    transition: 0.25s;
  }
  .nav_index ul .nav_right .link_signin:hover {
    background-color: #AF1717;
  }
}
.nav_signin .nav_right a {
  margin: 0 25px 0 0px;
}
.nav_signin .nav_right .link_signin {
  color: #F24646;
  opacity: 70%;
  transition: 0.25s;
}
.nav_signin .nav_right .link_signin:hover {
  opacity: 100%;
}
.nav_signin .nav_right .link_signup {
  color: #898989;
  transition: 0.25s;
}
.nav_signin .nav_right .link_signup:hover {
  color: #F24646;
  opacity: 70%;
}

.signin_div {
  margin: 0 0 25px 30px;
  background-color: red;
}

#submit_signin {
  margin-top: 10px;
}

@media screen and (max-width: 650px) {
  .nav_form ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav_form ul .nav_left {
    transform: translateX(-20px);
  }

  .signin_form {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
.nav_form ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
}
.nav_form ul div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_form ul div a {
  text-decoration: none;
  color: #ffffff;
}
.nav_form ul .nav_left {
  margin-left: 5%;
  margin-right: 25px;
}
.nav_form ul .nav_left a {
  font-size: 20px;
  font-weight: 600;
}
.nav_form ul .nav_left .img_logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.nav_signup .nav_right a {
  margin: 0 25px 0 0px;
}
.nav_signup .nav_right .link_signup {
  color: #F24646;
  opacity: 70%;
  transition: 0.25s;
}
.nav_signup .nav_right .link_signup:hover {
  opacity: 100%;
}
.nav_signup .nav_right .link_signin {
  color: #898989;
  transition: 0.25s;
}
.nav_signup .nav_right .link_signin:hover {
  color: #F24646;
  opacity: 70%;
}

.section_before_form {
  margin: 70px 0 0 0px;
}
.section_before_form .section_before_form_title {
  transform: translateX(50px);
}
.section_before_form .section_before_form_title h2 {
  color: #ffffff;
}
.section_before_form .section_before_form_title p {
  color: #898989;
}
.section_before_form .section_before_form_title p a {
  text-decoration: none;
  color: #F24646;
  transition: 0.25s;
}
.section_before_form .section_before_form_title p a:hover {
  color: #AF1717;
}

.signup_form {
  width: 500px;
}

.signin_form {
  width: 340px;
}

.form_signup_and_signin input {
  border: none;
  outline: none;
}
.form_signup_and_signin .duo_label {
  display: flex;
}
.form_signup_and_signin .duo_label .input_and_label {
  margin: 15px 0 45px 30px;
  width: 220px;
}
.form_signup_and_signin .input_and_label {
  position: relative;
  background-color: #272727;
  border-radius: 20px;
  height: 50px;
  overflow: hidden;
}
.form_signup_and_signin .input_and_label input {
  position: absolute;
  bottom: 2px;
  left: 20px;
  height: 50%;
  width: calc(100% - 40px);
  background-color: #272727;
  opacity: 100%;
  color: #ffffff;
}
.form_signup_and_signin .input_and_label label {
  position: absolute;
  left: 20px;
  top: 5px;
  color: #898989;
}
.form_signup_and_signin .signup_div {
  margin: 0 0 45px 30px;
}
.form_signup_and_signin .password_conditions {
  position: absolute;
  display: flex;
  width: 460px;
  justify-content: space-around;
  transform: translateY(-55px);
  color: #898989;
  font-size: 14px;
}
.form_signup_and_signin .submit_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_signup_and_signin .submit_style {
  background-color: #F24646;
  color: #ffffff;
  padding: 7px 14px;
  border-radius: 20px;
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.25s;
  font-size: 15px;
}
.form_signup_and_signin .submit_style:hover {
  background-color: #AF1717;
}

.signup_form {
  width: 500px;
}

@media screen and (max-width: 650px) {
  .signup_form {
    width: 80vw;
  }

  .form_signup_and_signin .password_conditions {
    width: 80vw;
  }
}
.nav_app ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
}
.nav_app ul div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_app ul div a {
  text-decoration: none;
  color: #ffffff;
}
.nav_app ul .nav_left {
  margin-left: 5%;
}
.nav_app ul .nav_left a {
  font-size: 20px;
  font-weight: 600;
  transition: 0.25s;
}
.nav_app ul .nav_left a:hover {
  opacity: 70%;
}
.nav_app ul .nav_left .img_logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.nav_app ul .nav_mid li {
  margin-right: 20px;
}
.nav_app ul .nav_right {
  margin-right: 5%;
}
.nav_app ul .nav_right .link_signup {
  color: #898989;
  transition: 0.25s;
}
.nav_app ul .nav_right .link_signup:hover {
  color: #F24646;
  opacity: 70%;
}
.nav_app ul .nav_right .link_signin {
  background-color: #F24646;
  padding: 6px 12px;
  border-radius: 20px;
  transition: 0.25s;
}
.nav_app ul .nav_right .link_signin:hover {
  background-color: #AF1717;
}

.all_app {
  display: grid;
  grid-template-columns: auto auto 175px 175px auto 175px 175px auto auto;
  grid-template-rows: repeat(10, 150px);
  margin-top: 50px;
}

.day_session {
  display: grid;
  color: #ffffff;
  background-color: #272727;
  border-radius: 20px;
  grid-area: 1/3/4/5;
  min-width: 250px;
}
.day_session p {
  margin: 0 0 5px 15px;
  font-size: 17px;
  text-align: center;
}
.day_session .form_day_session {
  height: 100%;
}
.day_session .form_day_session .label_and_select {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #F24646;
  max-width: 200px;
}
.day_session .form_day_session input {
  border: none;
  outline: none;
}
.day_session .form_day_session .duo_label {
  display: flex;
  padding: 30px 30px 0 30px;
}
.day_session .form_day_session .duo_label .input_and_label {
  position: relative;
  margin-right: 15px;
  width: 50%;
}
.day_session .form_day_session .input_and_label {
  position: relative;
  background-color: #121212;
  border-radius: 20px;
  height: 55px;
  overflow: hidden;
}
.day_session .form_day_session .input_and_label input {
  position: absolute;
  bottom: 2px;
  left: 20px;
  height: 50%;
  width: calc(100% - 40px);
  background-color: #121212;
  opacity: 100%;
  color: #ffffff;
}
.day_session .form_day_session .input_and_label label {
  position: absolute;
  left: -50%;
  top: 5px;
}
.day_session .form_day_session .signup_div {
  margin: 0 0 45px 30px;
}
.day_session .form_day_session .password_conditions {
  position: absolute;
  display: flex;
  width: 460px;
  justify-content: space-around;
  transform: translateY(-55px);
  color: #898989;
  font-size: 14px;
}
.day_session .form_day_session .submit_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.day_session .form_day_session .submit_style {
  background-color: #F24646;
  color: #ffffff;
  padding: 7px 14px;
  border-radius: 20px;
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.25s;
  font-size: 15px;
}
.day_session .form_day_session .submit_style:hover {
  background-color: #AF1717;
}
.day_session .label_center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.day_session .label_center .input_and_label {
  position: relative;
  background-color: #121212;
  border-radius: 20px;
  height: 55px;
  min-width: 200px;
  max-width: 300px;
  overflow: hidden;
}
.day_session .label_center .input_and_label input {
  position: absolute;
  bottom: 2px;
  left: 20px;
  height: 50%;
  width: calc(100% - 40px);
  background-color: #121212;
  opacity: 100%;
  color: #ffffff;
}
.day_session .label_center .input_and_label label {
  position: absolute;
  left: 20px;
  top: 5px;
  color: #F24646;
}
.day_session .label_center .input_and_label .more_logo {
  position: absolute;
  color: #F24646;
  font-size: 25px;
  right: 10px;
  top: 50%;
  transform: translateY(-20%);
}
.day_session .label_center #submit_day_session {
  margin-top: 20px;
}

.day_recap {
  color: #ffffff;
  background-color: #272727;
  border-radius: 20px;
  grid-area: 1/6/4/8;
  background-color: #272727;
  overflow-y: scroll;
  overflow-x: hidden;
}
.day_recap p {
  margin: 0 0 5px 15px;
  font-size: 17px;
}
.day_recap .all_contain {
  width: 350px;
  border-radius: 20px;
  color: #ffffff;
  padding: 25px 0px;
  flex-wrap: wrap;
}
.day_recap .all_contain h2 {
  margin: 0;
  text-align: center;
}
.day_recap .all_contain .empty_session_text {
  text-align: center;
  margin: 10px 0 0 0;
}
.day_recap .all_for_muscle {
  display: flex;
  justify-content: space-around;
}
.day_recap .all_for_muscle .all_for_muscle_solo {
  height: 100%;
}
.day_recap .all_for_muscle .all_for_muscle_solo h3 {
  font-size: 20px;
  margin-left: 15px;
}
.day_recap .all_for_muscle .all_for_muscle_solo .title_exercise {
  font-size: 16px;
  text-decoration: underline #F24646;
}
.day_recap .all_for_muscle .all_for_muscle_solo .title_exercise:before {
  /*content: "";*/
  position: absolute;
  bottom: 0;
  transform: translateY(3px);
  width: 100%;
  height: 2px;
  background-color: #F24646;
}
.day_recap .all_for_muscle .all_for_muscle_solo .line_exercise {
  display: flex;
}
.day_recap .all_for_muscle .all_for_muscle_solo .line_exercise p {
  font-size: 13px;
  margin-right: 10px;
}

.all_weight {
  display: flex;
  grid-area: 4/3/5/5;
}
.all_weight .this_weight {
  background-color: #272727;
  color: #ffffff;
  grid-area: 4/4/5/5;
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 130px;
}
.all_weight .this_weight .this_weight_title {
  font-size: 13px;
}
.all_weight .this_weight .this_weight_value {
  font-size: 30px;
  transform: translateY(-15px);
}
.all_weight .this_weight .div_this_weigth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all_weight .last_weight {
  background-color: #272727;
  color: #ffffff;
  grid-area: 4/3/5/4;
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 130px;
}
.all_weight .last_weight .last_weight_title {
  font-size: 13px;
}
.all_weight .last_weight .last_weight_value {
  font-size: 30px;
  transform: translateY(-15px);
}
.all_weight .last_weight .div_last_weigth {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.session_calendar {
  grid-area: 4/6/7/8;
  margin-top: 10px;
}
.session_calendar .calendar {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(6, 50px);
  background-color: #272727;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 10px;
}
.session_calendar .calendar .calendar_child {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}
.session_calendar .calendar .calendar_child:hover {
  background-color: #F24646 !important;
  transition: 0.1s;
}
.session_calendar .calendar .calendar_child:hover p {
  color: #ffffff;
}

.weight {
  display: none;
}
.weight .weight_last_week {
  width: 150px;
  margin: 20px 0 0 25px;
  color: #ffffff;
}
.weight .weight_last_week p {
  margin: 0 0 0 0;
  text-align: center;
  font-size: 13px;
}
.weight .weight_last_week .box_weight {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weight .weight_last_week .box_weight p {
  max-width: 100px;
  font-size: 35px;
}
.weight .weight_this_week {
  width: 150px;
  margin: 20px 0 0 25px;
  color: #ffffff;
}
.weight .weight_this_week p {
  margin: 0 0 0 0;
  text-align: center;
  font-size: 13px;
}
.weight .weight_this_week .box_weight {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weight .weight_this_week .box_weight p {
  max-width: 100px;
  font-size: 35px;
}

.delete_logo {
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #F24646;
  transition: 0.15s;
}
.delete_logo ion-icon {
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  border-radius: 100%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 1050px) {
  .day_recap {
    min-width: 350px;
  }
  .day_recap .all_contain {
    width: 350px;
  }
}
@media screen and (max-width: 850px) {
  .nav_app ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav_app ul .nav_left {
    transform: translateX(-20px);
  }

  .all_app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .day_session {
    width: 350px;
    height: 450px;
    margin: 10px;
  }

  .day_recap {
    width: 350px;
    height: 450px;
  }
}
@media screen and (max-width: 700px) {
  .day_session_and_recap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
